<!DOCTYPE html>
<head>
    <title><%= video.title%> - Watch </title>
    <style>
        body
        {
            margin: 0;
            padding: 0;
        }
        
    </style>
</head>
<body>
    <div class="body-container" style="max-width: 100%; margin: 0 auto;">
        <script src="https://cdn.jwplayer.com/libraries/Kb3Lryr8.js"></script>
           <div id="aRzklaXf">Loading the player...</div>
           <script type="text/javascript">
           var playerInstance = jwplayer("aRzklaXf");
           playerInstance.setup({
               sources:{"file":"<%= video.url%>","type":"video/mp4","label":"HD"},
               image: "https://assets-jpcust.jwpsrv.com/thumbs/aRzklaXf.jpg",
               mediaid: "aRzklaXf",
               width: '100%',
               height: '100%',
               autostart: false
           })
        </script>
    </div>
</body>